<h1 class="text-center">form Addpost</h1>
<div class="container">
    <div class="form-addpost">

             <form method="post" action="/addpost" enctype="multipart/form-data">
                 <div class="mb-3">
                   <label for="Title" class="form-label">Title</label>
                   <input type="text" class="form-control" id="Title" name="Title" required>
                 </div>
                   <div class="mb-3">
                     <label for="Paragraf" class="form-label">Paragraf</label>
                     <br>
                     <textarea  id="Paragraf"  name="Paragraf" style="width: 400px; height: 300px;" required></textarea>
                   </div>
                   <div class="mb-3">
                    <label for="Avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" id="Avatar" name="Avatar" required>
                  </div>
                   <div class="mb-3">
                     <label for="Author" class="form-label">Author</label>
                     <input type="text" class="form-control" id="Author" name="Author" required>
                   </div>
                 <button type="submit" class="btn btn-primary">Submit</button>
               </form>

               <bR>
    </div>
</div>