<div class="container">
    <br>
    <div class="content-blog" style="display: flex; justify-content: center; flex-wrap: wrap;">
        <%  getPost.forEach(e => { %>
            <div class="card" style="width: 60%; margin-top: 20px;">
                <img src="<%= e.Avatar %>" class="card-img-top" alt="foto" style="height: 350px;">
                <div class="card-body">
                  <h5 class="card-title"><%= e.Title %></h5>
                  <p class="card-text"><%= e.Preparagraf %></p>
                  <a href="/readblog/<%= e._id %>" class="btn btn-primary">Baca Artikel</a>
                </div>
              </div>
        <% }) %>
    </div>
</div>