<div class="container">
    <br>
    <div class="content-blog" style="display: flex; justify-content: center; flex-wrap: wrap;">
            <div class="card" style="width: 60%; margin-top: 20px;">
                <img src="<%= getPost.Avatar %>" class="card-img-top" alt="foto" style="height: 350px;">
                <div class="card-body">
                  <h5 class="card-title"><%= getPost.Title %></h5>
                  <p class="card-text"><%= getPost.Preparagraf %></p>
                  <a href="/readblog/<%= getPost._id %>" class="btn btn-primary">Baca Artikel</a>
                </div>
              </div>
  
    </div>
</div>